.sidebar {
  position: fixed;
  padding-bottom: 1rem;
  top: 47px;
  left: 0;
  bottom: 0;
  width: 300px;
  background-color: #f8f9fa;
  border-right: 1px solid #e9ecef;
  z-index: 0;
  overflow-y: auto;
  scrollbar-width: thin;
}